body, html {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.application-input-item label {
    display: block;
    margin-bottom: 0.5rem;
}

.application-input-item input, .application-item select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    margin: 0.5rem 0.5rem;
}

.form-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}